<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="onAddButtonClicked($event)">
    <mat-icon>add</mat-icon> New
  </button>

  <button mat-raised-button color="primary">
    <mat-icon>attachment</mat-icon> Import from Excel
  </button>
  <button mat-raised-button color="primary">
    <mat-icon>remove_circle_outline</mat-icon> Export to Excel
  </button>
  <button mat-raised-button>
    <mat-icon>history</mat-icon> Audit Log
  </button>

  <button mat-raised-button color="primary" disabled>
    <mat-icon>check_circle_outline</mat-icon> Enable
  </button>
  <button mat-raised-button disabled>
    <mat-icon>remove_circle_outline</mat-icon> Disable
  </button>

  <button mat-raised-button color="warn" disabled>
    <mat-icon>cancel</mat-icon> Remove
  </button>
</div>
