// .form-container {
//   display: flex;
// }
.mat-card-content {
  width: 40%;
}
.mat-form-field {
  display: block;
  margin-top: 20px;
}

.mat-card-actions {
padding: 20px 0 !important;
}

.cancel-icon {
  margin-left: auto !important;
}
