.sidenav-container {
  // min-height: 80%;
  height: fit-content;
}

.sidenav {
  width: 270px;
  // min-height: 100%;
}


.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;

  .mat-list-item {
    color: white;
  }
}



.acct_name {
  margin-left: 7px;
}

.list-item-text {
  margin-left: 16px;
  font-size: 1.3em;
}
.card-transparent {
  background: transparent;
  padding: 0;
  height: 30px;
  box-shadow: none !important;
  .mat-card-avatar {
    background: transparent;
    border: 1px solid white;
  }
  img {
    width: 30px;
    height: auto;
    margin: auto;
  }
}

@media(max-width: 375px) {
  .mat-toolbar {
    flex-wrap: wrap;
    // justify-content: center;
  }
}

.mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;

    .mat-expansion-panel-header {

      .mat-flat-button {
        padding: 0;
      }

    }
  }
}
