<div class="flex">
  <mat-form-field class="width-30">
    <mat-label>Filter By...</mat-label>
    <mat-select #filterBy value="">
      <mat-option value="id">ID</mat-option>
      <mat-option value="createdAt">Creation Date</mat-option>
      <mat-option value="name">Name</mat-option>
      <mat-option value="email">Email</mat-option>
      <mat-option value="status">Status</mat-option>
      <mat-option value="role">Role</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="width-60">
    <input matInput placeholder="Enter Value" (keyup)="applyFilter($event.target.value)" >
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Position</th>
      <td mat-cell *matCellDef="let row">{{row.position}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
      <td mat-cell *matCellDef="let row">{{row.weight}}</td>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
      <td mat-cell *matCellDef="let row">{{row.symbol}}</td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>...</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button>
          <mat-icon [inline]="true">desktop_windows</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon [inline]="true">edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon [inline]="true">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
