<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Identity and Access Management</mat-card-title>
    <mat-card-subtitle>Details of Items in the IAM</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <app-button-row
    [showAdd]="true"
    [showExport]="true"
    [showImport]="true"
    [showEnable]="true"
    [showDisable]="true"
    [excelJson]="data"
    [excelFileName]="'users'"
    [showLog]="true"
    [showRemove]="true"
    (addButtonClick)="onAddButtonClicked()"
    [disableDisable]="disableDisableButton"
    [disableEnable]="disableEnableButton"
    [disableRemove]="disableRemoveButton"
    (removeButtonClick)="onRemoveButtonClicked()"
    (disableButtonClick)="onDisableButtonClicked()"
    (importButtonClick)="onImportButtonClicked()"
    ></app-button-row>
  </mat-card-actions>
  <mat-card-content>
    <!-- <app-data-table (editClick)="onEditIconClicked($event)" (selectedItems)="getSelectedItemList($event)" [isSelectible]="false" [data]="USERS" [columnList]="columns"></app-data-table> -->

    <div class="flex">
      <mat-form-field class="width-30">
        <mat-label>Filter By...</mat-label>
        <mat-select #filterBy value="">
          <mat-option value="id">ID</mat-option>
          <mat-option value="createdAt">Creation Date</mat-option>
          <mat-option value="name">Name</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="status">Status</mat-option>
          <mat-option value="role">Role</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="width-60">
        <input matInput placeholder="Enter Value" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="masterToggle($event)" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="onCheckboxClicked($event)" (change)="onRowChange($event, row)"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <!-- Id Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
          <td mat-cell *matCellDef="let row">{{row.phoneNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
          <td mat-cell *matCellDef="let row">{{row.emailAddress}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>...</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onViewIconClicked(row)" matTooltip="View Details">
              <mat-icon [inline]="true">desktop_windows</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditIconClicked(row)" matTooltip="Edit User">
              <mat-icon [inline]="true">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDisableIconClicked(row.id)" matTooltip="Disable User" *ngIf="true">
              <mat-icon [inline]="true">remove_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="onEnableIconClicked(row.id)" matTooltip="Enable User" *ngIf="false">
              <mat-icon [inline]="true">check_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteIconClicked(row.id)" matTooltip="Remove User">
              <mat-icon [inline]="true">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            Loading...
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            No Data
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource.data!=null}"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']"
          [ngClass]="{'hide': !(dataSource!=null && dataSource?.data.length==0)}"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 20, 25, 30]">
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
