<mat-card class="main-card">
  <mat-card-header>
    <button mat-icon-button matTooltip="Cancel" class="cancel-icon" (click)="onCancelClick()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-title>New Product</mat-card-title>
    <mat-card-subtitle>Add new Product</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <form class="example-form" [formGroup]="this.fs.form" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Name" formControlName="name" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="this.fs.form.controls.name.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Product Type" formControlName="type" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="this.fs.form.controls.type.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Regular Price" formControlName="regular_price" [errorStateMatcher]="matcher"
            required>
          <mat-error *ngIf="this.fs.form.controls.regular_price.hasError('required')">
            This field is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Short Description" formControlName="short_description"
            [errorStateMatcher]="matcher">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Description" formControlName="description"
            [errorStateMatcher]="matcher"></textarea>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Categories</mat-label>
          <mat-select formControlName="categories" multiple>
            <mat-option *ngFor="let category of categories" [value]="category.value">{{category.label}}</mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!this.fs.form.valid">
      <mat-icon>sd_storage</mat-icon> Save
    </button>
    <button (click)="onReset()" mat-raised-button>
      <mat-icon>loop</mat-icon> Reset
    </button>
  </mat-card-actions>
</mat-card>
