<mat-card class="main-card">
  <mat-card-header>
    <button mat-icon-button matTooltip="Cancel" class="cancel-icon" (click)="onCancelClick()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-title>New Category</mat-card-title>
    <mat-card-subtitle>Add new Category</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <form class="example-form" [formGroup]="this.fs.form" (ngSubmit)="onSubmit()">

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" formControlName="name" [errorStateMatcher]="matcher" required>
          <mat-error *ngIf="this.fs.form.controls.name.hasError('required')">
            Name is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" formControlName="description" [errorStateMatcher]="matcher">
          <mat-error *ngIf="this.fs.form.controls.description.hasError('required')">
            Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Products</mat-label>
          <mat-select formControlName="products" multiple>
            <mat-option *ngFor="let product of products" [value]="product.value">{{product.label}}</mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!this.fs.form.valid">
      <mat-icon>sd_storage</mat-icon> Save
    </button>
    <button (click)="onReset()" mat-raised-button>
      <mat-icon>loop</mat-icon> Reset
    </button>
  </mat-card-actions>
</mat-card>
