<mat-card class="main-card">
  <mat-card-header>
    <button mat-icon-button class="cancel-icon" matTooltip="Cancel" (click)="onCancelClick()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-title>Import Categories</mat-card-title>
    <mat-card-subtitle>Add new Categories through excel file upload</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <button [cossaiSlsExcelExport]="excel" [fileName]="fileName" mat-stroked-button color="primary">
      <mat-icon>vertical_align_bottom</mat-icon>&nbsp; Download Template
    </button>
  </mat-card-content>
  <mat-card-actions>
    <cossai-sls-file-upload></cossai-sls-file-upload>
  </mat-card-actions>
</mat-card>
