<div class="grid-container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Customers</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
          <div><p>0</p></div>
          <div>Total Customers</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Products</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
          <div><p>0</p></div>
          <div>Total Products</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Suppliers</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
          <div><p>0</p></div>
          <div>Total Suppliers</div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Sales</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
          <div><p>0</p></div>
          <div>Total Sales</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Best Sale Product</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Expense Statement</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-sm-12 col-md-4 mb-4">
      <mat-card class="d-card">
        <mat-card-header>
          <mat-card-title>
            <p>Sales and Report Summary</p>
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="d-card-content">
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
