<mat-card class="main-card">
  <mat-card-header>
    <mat-card-title>Categories Management</mat-card-title>
    <mat-card-subtitle>Details of Categories</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <cossai-sls-button-row [showAdd]="true" [showExport]="true" [showImport]="true" [showLog]="true" [showDelete]="true" [excelJson]="data" [excelFileName]="'categories'"  [disableDelete]="disableDeleteButton" (addButtonClick)="onAddButtonClicked()"
      (deleteButtonClick)="onDeleteButtonClicked()" (importButtonClick)="onImportButtonClicked()" (refreshButtonClick)="onRefresh()"></cossai-sls-button-row>
  </mat-card-actions>
  <mat-card-content>
    <!-- <app-data-table (editClick)="onEditIconClicked($event)" (selectedItems)="getSelectedItemList($event)" [isSelectible]="false" [data]="USERS" [columnList]="columns"></app-data-table> -->

    <div class="flex">
      <mat-form-field class="width-30">
        <mat-label>Filter By...</mat-label>
        <mat-select #filterBy value="">
          <mat-option value="id">ID</mat-option>
          <mat-option value="createdAt">Creation Date</mat-option>
          <mat-option value="name">Name</mat-option>
          <mat-option value="email">Email</mat-option>
          <mat-option value="status">Status</mat-option>
          <mat-option value="role">Role</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="width-60">
        <input matInput placeholder="Enter Value" (keyup)="applyFilter($event.target.value)">
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="masterToggle($event)" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="onCheckboxClicked($event)" (change)="onRowChange($event, row)"
              [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">{{row?.name}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
          <td mat-cell *matCellDef="let row">{{row?.description | stringDisplay}}</td>
        </ng-container>

        <ng-container matColumnDef="products">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Products</th>
          <td mat-cell *matCellDef="let row">{{row?.products.length | stringDisplay}}</td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
          <td mat-cell *matCellDef="let row">{{row?.updatedAt | dateFormat}}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created At</th>
          <td mat-cell *matCellDef="let row">{{row?.createdAt | dateFormat}}</td>
        </ng-container>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>...</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onViewIconClicked(row)" matTooltip="View Details">
              <mat-icon [inline]="true">desktop_windows</mat-icon>
            </button>
            <button mat-icon-button (click)="onEditIconClicked(row)" matTooltip="Edit Customer">
              <mat-icon [inline]="true">edit</mat-icon>
            </button>
            <!-- <button mat-icon-button (click)="onDisableIconClicked(row.id)" matTooltip="Disable Customer" *ngIf="true">
              <mat-icon [inline]="true">remove_circle_outline</mat-icon>
            </button>
            <button mat-icon-button (click)="onEnableIconClicked(row.id)" matTooltip="Enable Customer" *ngIf="false">
              <mat-icon [inline]="true">check_circle_outline</mat-icon>
            </button> -->
            <button mat-icon-button (click)="onDeleteIconClicked(row._id)" matTooltip="Delete Customer">
              <mat-icon [inline]="true">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="loading">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            Loading...
          </td>
        </ng-container>

        <ng-container matColumnDef="noData">
          <td mat-footer-cell *matFooterCellDef colspan="6">
            No Data
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': dataSource!=null}"></tr>
        <tr mat-footer-row *matFooterRowDef="['noData']"
          [ngClass]="{'hide': !(dataSource!=null && dataSource?.data.length==0)}"></tr>
      </table>

      <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="5"
        [pageSizeOptions]="[5, 10, 15, 20, 25, 30]">
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
