<!--
<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <p>Cossai</p>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-toolbar>
      <mat-toolbar-row color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu_open</mat-icon>
        </button>
        <span>Title</span>
        <span class="spacer"></span>
        <mat-icon>notifications</mat-icon>
        <mat-icon>person</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>

  </div>
</mat-drawer-container> -->

<app-main-nav>
  <div>Breadcrumbs goes here</div>
  <div class="main-content">

  </div>
</app-main-nav>
