.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.container .mat-drawer {
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px;
}

.spacer {
  flex: 1 1 auto;
}
