<mat-card class="main-card">
  <mat-card-header>
    <button mat-icon-button matTooltip="Cancel" class="cancel-icon" (click)="onCancelClick()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-title>New Customer</mat-card-title>
    <mat-card-subtitle>Add new Customer</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <form class="example-form" [formGroup]="this.fs.form" (ngSubmit)="onSubmit()">

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Name Information</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutGap="20px">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="First Name" formControlName="first_name" [errorStateMatcher]="matcher"
                required>
              <mat-error *ngIf="this.fs.form.controls.first_name.hasError('required')">
                First name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" formControlName="last_name" [errorStateMatcher]="matcher"
                required>
              <mat-error *ngIf="this.fs.form.controls.last_name.hasError('required')">
                Last name is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher" required>
              <mat-error *ngIf="this.fs.form.controls.username.hasError('required')">
                Username is <strong>required</strong>
              </mat-error>
            </mat-form-field>

          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Other Information</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayoutGap="20px">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Address" formControlName="email" [errorStateMatcher]="matcher"
                required>
              <mat-error
                *ngIf="this.fs.form.controls.email.hasError('email') && !this.fs.form.controls.email.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="this.fs.form.controls.email.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Gender</mat-label>
              <mat-select formControlName="gender" required>
                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                  {{gender.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date of Birth" formControlName="birthDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

          </mat-card-content>

        </mat-card>

        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>Billing</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="form-address" formGroupName="billing" fxLayoutGap="20px">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address 1" formControlName="address_1">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address 2" formControlName="address_2">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country" formControlName="country">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="State" formControlName="state">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="City" formControlName="city">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nearest Bustop" formControlName="nearest_bustop">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Post Code" formControlName="post_code">
              </mat-form-field>

              <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Phone Line" formControlName="phone">
                  </mat-form-field> -->

              <mat-form-field class="example-full-width">
                <span matPrefix>+234 &nbsp;</span>
                <input type="tel" matInput placeholder="Phone Line" formControlName="phone">
                <mat-icon matSuffix>mode_edit</mat-icon>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Company" formControlName="company">
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="example-card">
          <mat-card-header fxLayout="row" fxLayoutAlign="space-between">
            <mat-card-title>Shipping</mat-card-title>
            <div class="checkbox">
              <mat-checkbox (change)="onCheckboxChange($event)">Use Billing Address?</mat-checkbox>
            </div>

          </mat-card-header>
          <mat-card-content>
            <div class="form-address" formGroupName="shipping" fxLayoutGap="20px">

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address 1" formControlName="address_1">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Address 2" formControlName="address_2">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Country" formControlName="country">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="State" formControlName="state">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="City" formControlName="city">
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Nearest Bustop" formControlName="nearest_bustop">
              </mat-form-field>


              <mat-form-field class="example-full-width">
                <input matInput #postalCode maxlength="5" placeholder="Postal Code" formControlName="post_code">
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
              </mat-form-field>

              <mat-form-field class="example-full-width">
                <input matInput placeholder="Company" formControlName="company">
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!this.fs.form.valid">
      <mat-icon>sd_storage</mat-icon> Save
    </button>
    <button (click)="onReset()" mat-raised-button>
      <mat-icon>loop</mat-icon> Reset
    </button>
  </mat-card-actions>
</mat-card>
