<mat-card class="main-card">
  <mat-card-header>
    <button mat-icon-button matTooltip="Cancel" class="cancel-icon" (click)="onCancelClick()">
      <mat-icon>clear</mat-icon>
    </button>
    <mat-card-title>New Order</mat-card-title>
    <mat-card-subtitle>Add new Order</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form-container">
      <form class="example-form" [formGroup]="this.fs.form" (ngSubmit)="onSubmit()">

        <mat-form-field>
          <mat-label>Customer</mat-label>
          <mat-select formControlName="customer_id">
            <mat-option *ngFor="let customer of customers" [value]="customer.value">{{customer.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Employee</mat-label>
          <mat-select formControlName="employee_id">
            <mat-option *ngFor="let employee of employees" [value]="employee.value">{{employee.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Products</mat-label>
          <mat-select formControlName="line_items" multiple>
            <mat-option *ngFor="let item of products" [value]="item.value">{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- <mat-form-field>
          <mat-label>Attachment</mat-label>
          <mat-select formControlName="line_items" multiple>
            <mat-option *ngFor="let item of products" [value]="item.value">{{item.label}}</mat-option>
          </mat-select>
        </mat-form-field> -->

      </form>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button type="submit" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!this.fs.form.valid">
      <mat-icon>sd_storage</mat-icon> Save
    </button>
    <button (click)="onReset()" mat-raised-button>
      <mat-icon>loop</mat-icon> Reset
    </button>
  </mat-card-actions>
</mat-card>
