/* You can add global styles to this file, and also import other style files */

// * {
//   padding: 0;
//   margin: 0;
//   box-sizing: border-box;
// }

html, body { height: 100%; }
// body {
//   margin: 0;
//   box-sizing: border-box;
//   font-family: Roboto, "Helvetica Neue", sans-serif !important;
// }

body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), lightblue url("assets/images/auth-bg.jpg") no-repeat fixed center / cover;
  height: 100%;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  margin: 0;
}

main {
  position: relative;
  height: 100%;
  min-height: 80vh;
}

.mr-1 {
  margin-right: 1px !important;
}
.ml-1 {
  margin-left: 1px !important;
}
.mx-1 {
  margin-left: 1px !important;
  margin-right: 1px !important;
}
.mx-3 {
  margin-right: 3px;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.mat-drawer-content {
  overflow: hidden !important;
  min-height: 100vh;
}

.main-card {
    height: fit-content;
  }

.mat-grid-tile {
  .mat-figure {
    align-items: end !important;
    justify-content: start !important;
  }

}

.mat-bread-crumb {
  padding: 35px !important;
}


#acct {
  div.mat-list-item-content {
    padding-right: 2px !important;
  }
}
#acct-menu {
  div.mat-list-item-content {
    padding-left: 1px !important;
    cursor: pointer;
  }
}

.custom-bread-crumb {
  margin: 0;
}

.mat-elevation-z8 {
  box-shadow: none !important;
  margin-top: 50px !important;
}


button:focus {
  outline: none !important;
}
